body{
  min-height: 100vh;
}
.outer{
  background-color: yellow;
  height: 500px;
}
.nav{
  background-color: blue;
  border: solid 1px black;
}

.jumbo{
  background-color: grey;
  border: solid 1px black;
}
.pre{
  border:solid 1px black;
  background-color: green;
}
.content{
  background-color: red;
  border: solid 1px black;
}
.aside{
  background-color: black;
  border: solid 1px black;
  color: grey;
}
.promo{
  border: solid 1px black;
  background-color: yellow;
}
.footer{
  background-color: orange;
  border: solid 1px black;
}
@media only screen and (min-width: 375px){
  .nav{
    background-color: green;
  }
  .jumbo{
    background-color: purple;
  }

  .pre{
    background-color: orange;
  }
  .content{
    background-color: blue;
  }
  .aside{
    background-color: red;
  }
  .promo{
    background-color: aqua;
  }
  .footer{
    background-color: magenta;
  }
}
@media only screen and (min-width: 768px){
  .jumbo{
    background-color: green;
  }
  .pre{
    background-color: purple;
  }

  .content{
    background-color: orange;
  }
  .aside{
    background-color: blue;
  }
  .promo{
    background-color: red;
  }
  .footer{
    background-color: aqua;
  }
  .nav{
    background-color: magenta;
  }
}
