body{
  min-height: 100vh;
}
.outer{
  background-color: yellow;
  padding: 50px;
}
.navigation{
  background-color: blue;
}
.jumbotron{
  background-color: grey;
  border: solid 2px black;
  height: 600px;
}
.lift{
  border: solid 2px black;
  background-color: teal;
}
.cities{
  background-color: lightblue;
  border: solid 2px black;
}
.drive{
  background-color: darkblue;
  border: solid 2px black;
}
.take{
  background-color: green;
  border: solid 2px black;
}
.log{
  border: solid 2px black;
  background-color: aqua;
}
.ride{
  background-color: green;
  border: solid 2px black;
}
.sign{
  background-color: grey;
  border: solid 2px black;
}
.footer{
  background-color: orange;
}
.promo{
  background-color: grey;
}
