body{
  min-height: 100vh;
}
.outer{
  background-color: yellow;
  height: 500px;
}
.nav{
  background-color: blue;
  border: solid 1px black;
}

.jumbotron{
  background-color: grey;
  border: solid 1px black;
}
.pre{
  border:solid 1px black;
  background-color: green;
}
.content{
  background-color: red;
  border: solid 1px black;
}
.aside{
  background-color: black;
  border: solid 1px black;
  color: grey;
}
.promo{
  border: solid 1px black;
}
.footer{
  background-color: orange;
  border: solid 1px black;
}
